@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --textColor: white;
}

@media (prefers-color-scheme: dark) {
  :root {
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: black;
  color: var(--textColor);
}

nav {
  position: fixed; /* Navigation bleibt immer sichtbar */
  top: 40%;
  left: 0;
  height: auto; /* Vollständige Höhe, wenn sie vertikal sein soll */
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

nav a {
  text-decoration: none;
  color: var(--foreground);
  font-size: 18px;
  font-weight: bold;
  padding: 10px 20px; /* Abstand um den Text, um die Kastenform zu erzeugen */
  border-radius: 25px; /* Rundet die Kanten stark ab */
  transition: all 0.6s ease; /* Weicher Übergang beim Hover */
  position: relative;
}

nav a:hover {
  background: linear-gradient(
    135deg,
    #d4af37,
    #b8860b
  ); /* Goldener Farbverlauf */
  color: #171717; /* Optional: Ändert die Textfarbe beim Hover */
  box-shadow: 0px 4px 10px rgba(212, 175, 55, 0.5); /* Optional: Goldener Schimmer-Effekt */
  transform: scale(
    1.07
  ); /* Optional: Vergrößert den Button leicht beim Hover */
}

nav a:active {
  transform: scale(1); /* Entfernt die Vergrößerung beim Klick */
  box-shadow: 0px 2px 5px rgba(212, 175, 55, 0.3); /* Reduziert den Schatten beim Klick */
}

h1 {
  font-size: 46px;
}
